html, body {
  margin: 20px;
  font-family: 'Roboto', sans-serif;
}
footer,
footer a {
  color: #C0C0C0;
  size: 0.8rem;
  text-align: center;
  margin-top: 30px;
}

.leaflet-container {
  height: 400px;
  width: 100%;
}